
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyImpair = !onlyImpair">Afficher seulement les nombres impair
      </button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyImpair">
          <li class="list-group-item"
              [ngClass]="{impair: impair % 2 !==0}"
              [ngStyle]="{backgroundColor: impair % 2 !==0 ? 'yellow' : 'transparent'}"
          *ngFor="let impair of impairNumbers">
            {{ impair }}
          </li>
        </div>

<!--        <div *ngIf="!onlyImpair">-->
<!--          <li class="list-group-item"-->
<!--              [ngClass]="{impair: pair % 2 !==0}"-->
<!--              [ngStyle]="{backgroundColor: pair % 2 !==0 ? 'yellow' : 'transparent'}"-->
<!--              *ngFor="let pair of pairNumbers">-->
<!--            {{ pair }}-->
<!--          </li>-->
<!--        </div>-->

<!--&lt;!&ndash;        Parti Section 7-10 : Ce qui se passe dans l'arrière-plan des directives structurelles&ndash;&gt;-->
<!--        <ng-template [ngIf]="!onlyImpair">-->
<!--          <div>-->
<!--            <li class="list-group-item"-->
<!--                [ngClass]="{impair: pair % 2 !==0}"-->
<!--                [ngStyle]="{backgroundColor: pair % 2 !==0 ? 'yellow' : 'transparent'}"-->
<!--                *ngFor="let pair of pairNumbers">-->
<!--              {{ pair }}-->
<!--            </li>-->
<!--          </div>-->
<!--        </ng-template>-->


        <div *appUnless="onlyImpair">
          <li class="list-group-item"
              [ngClass]="{impair: pair % 2 !==0}"
              [ngStyle]="{backgroundColor: pair % 2 !==0 ? 'yellow' : 'transparent'}"
              *ngFor="let pair of pairNumbers">
            {{ pair }}
          </li>
        </div>

      </ul>
      <p appBasicHighlight>Ceci est mon texte</p>
      <p appBetterHighlight [highlightColor]="'red'" [defaultColor]="'black'">Ceci est mon texte avec la nouvelle directive</p>
    </div>

    <div [ngSwitch]="valeur">
      <p *ngSwitchCase="5">La valeur est 5</p>
      <p *ngSwitchCase="10">La valeur est 10</p>
      <p *ngSwitchCase="50">La valeur est 50</p>
      <p *ngSwitchCase="100">La valeur est 100</p>
      <p *ngSwitchDefault>La valeur est par Default</p>
    </div>

  </div>
</div>
















<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12">-->
<!--      <button-->
<!--        class="btn btn-primary"-->
<!--        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>-->
<!--      <br><br>-->
<!--      <ul class="list-group">-->
<!--        <div *ngIf="onlyOdd">-->
<!--          <li-->
<!--            class="list-group-item"-->
<!--            [ngClass]="{odd: odd % 2 !== 0}"-->
<!--            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"-->
<!--            *ngFor="let odd of oddNumbers">-->
<!--            {{ odd }}-->
<!--          </li>-->
<!--        </div>-->
<!--        &lt;!&ndash;<div *ngIf="!onlyOdd">&ndash;&gt;-->
<!--          &lt;!&ndash;<li&ndash;&gt;-->
<!--            &lt;!&ndash;class="list-group-item"&ndash;&gt;-->
<!--            &lt;!&ndash;[ngClass]="{odd: even % 2 !== 0}"&ndash;&gt;-->
<!--            &lt;!&ndash;[ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"&ndash;&gt;-->
<!--            &lt;!&ndash;*ngFor="let even of evenNumbers">&ndash;&gt;-->
<!--            &lt;!&ndash;{{ even }}&ndash;&gt;-->
<!--          &lt;!&ndash;</li>&ndash;&gt;-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--        &lt;!&ndash;<ng-template [ngIf]="!onlyOdd">&ndash;&gt;-->
<!--          &lt;!&ndash;<div>&ndash;&gt;-->
<!--            &lt;!&ndash;<li&ndash;&gt;-->
<!--              &lt;!&ndash;class="list-group-item"&ndash;&gt;-->
<!--              &lt;!&ndash;[ngClass]="{odd: even % 2 !== 0}"&ndash;&gt;-->
<!--              &lt;!&ndash;[ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"&ndash;&gt;-->
<!--              &lt;!&ndash;*ngFor="let even of evenNumbers">&ndash;&gt;-->
<!--              &lt;!&ndash;{{ even }}&ndash;&gt;-->
<!--            &lt;!&ndash;</li>&ndash;&gt;-->
<!--          &lt;!&ndash;</div>&ndash;&gt;-->
<!--        &lt;!&ndash;</ng-template>&ndash;&gt;-->
<!--        <div *appUnless="onlyOdd">-->
<!--          <li-->
<!--            class="list-group-item"-->
<!--            [ngClass]="{odd: even % 2 !== 0}"-->
<!--            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"-->
<!--            *ngFor="let even of evenNumbers">-->
<!--            {{ even }}-->
<!--          </li>-->
<!--        </div>-->
<!--      </ul>-->
<!--      <p appBasicHighlight>Style me with basic directive!</p>-->
<!--      <p [appBetterHighlight]="'red'" defaultColor="yellow">Style me with a better directive!</p>-->
<!--      <div [ngSwitch]="value">-->
<!--        <p *ngSwitchCase="5">Value is 5</p>-->
<!--        <p *ngSwitchCase="10">Value is 10</p>-->
<!--        <p *ngSwitchCase="100">Value is 100</p>-->
<!--        <p *ngSwitchDefault>Value is Default</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
